.drawingcard {
	width: 400px;
	/* height: 600px; */
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
	margin: 5px 10px;
	overflow: hidden;
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1.5s;
	animation-name: animatebottom;
	animation-duration: 1.5s;
}
.reviewcanvas {
	border-radius: 10px;
}
.drawingcard .description {
	display: flex;
	flex-direction: column;
	font-size: smaller;
}

.drawingcard .reviews {
	font-size: smaller;
}

.allreviews {
	/* border: 0.5px solid red; */
	padding: 0px;
	/* line-height: 12px; */
}

.singlereview {
	/* border: 0.5px blue solid; */

	height: 40px;
}

.reviewheader {
	/* line-height: 0px; */
	display: flex;
	justify-content: space-around;
	/* border: 0.5px solid red; */
}

.reviewheader h3 {
	line-height: 0px;
}

.likes {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.thumbsUp {
	float: left;
}

.thumbsDown {
	float: right;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

/* #myDiv {
	display: none;
	text-align: center;
} */
