.lobby {
	text-align: center;

	align-items: center;
}

.roominfo {
	display: flex;
	justify-content: center;
}

.roominfo div {
	margin: 20px 40px;
}

.title div {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: grey;
	color: white;
}

.roomcontrols button {
	margin: 10px 10px 10px 10px;
}
